.btn-cs {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    background-color: #00ccbc;
    border-radius: 38%;
    transition: 0.2s;
}

.btn-cs:hover {
    border-radius: 30%;
    padding: 10px;
}

#show-btn {
    width: 50px;
}
