* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --sidebar-color: #ffdeb0;
    --primary-color: #00ccbc;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
}

.header-logo {
    background-color: #fff;
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

/* ===== Mobile navbar ===== */
#laravel-mobile {
    .logo {
        max-width: 60px;
        margin-right: 20px;
    }
    .text-logo {
        color: var(--primary-color);
        font-family: "Koulen", cursive;
        filter: drop-shadow(0px 1px 0px #fff);
    }
    .rounded-custom {
        border-radius: 15px 15px 0 0;
    }

    ul {
        li {
            list-style-type: none;
        }
    }

    span {
        text-transform: uppercase;
        font-family: "Koulen", cursive;
        font-weight: 500;
        font-size: 18px;
    }

    a.active span {
        color: #007377 !important;
        font-size: 20px !important;
    }
    a.active i {
        font-size: 2.5em !important;
        color: #007377 !important;
    }
}
/* ===== Sidebar ===== */

.sidebar {
    text-transform: capitalize;
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: #fff;
    z-index: 100;

    /* ===== Reusable code - Here ===== */
    li {
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    header .image {
        min-width: 60px;
        border-radius: 6px;
    }

    i {
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: var(--text-color);
    }

    .text {
        color: var(--text-color);
    }

    header {
        position: relative;

        .image-text {
            display: flex;
            align-items: center;

            .name {
                text-transform: uppercase;
                margin-top: 2px;
                font-size: 14px;
                font-weight: 600;
            }

            .profession {
                font-size: 16px;
                margin-top: -2px;
                display: block;
            }
        }

        .logo-text {
            display: flex;
            flex-direction: column;
        }

        .image {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin: 0 20px;
                object-fit: cover;
                width: 60px;
                height: 60px;
            }
        }
    }

    .menu {
        margin-top: 40px;
    }

    li.search-box {
        border-radius: 6px;
        background-color: var(--primary-color-light);
        cursor: pointer;

        input {
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            background-color: var(--primary-color-light);
            color: var(--text-color);
            border-radius: 6px;
            font-size: 17px;
            font-weight: 500;
        }
    }

    li a {
        list-style: none;
        height: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        text-decoration: none;

        &:hover {
            background-color: var(--primary-color);

            i,
            .text {
                color: #fff;
            }
        }
    }

    .menu-bar {
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
