//order-list table
.order-list{
    background-color: transparent;
    tr{
        border: 1px solid #019480;  
    }
    thead{
        background-color: rgba(0, 167, 153, 0.295);
    }
}

// show
#orders-show {
    // show
    .total {
        border-bottom: black solid 1px;
    }
}

